*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

h1{
    font-size: 36px;
    letter-spacing: 2px;
}

h2{
    font-size: 34px;
    margin-right: 5em;
    font-weight: 300;
}

p{
    font-size: 24px;
}

body{
    background: linear-gradient(
        to right,
        #023047 0%,
        #023047 50%,
        #FFB703 50%,
        #FFB703 100%
    );

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-block{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D9D9D9;
    width: 95vw;
    min-height: 90vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

header{
    border-bottom: gray solid 1px;
}

nav{
    display: flex;
}

#logo-plm{
    width: 85px;
}

.logo{
    width: 30%;
    margin: 0;
    padding: 1em 1em 0 1em;
}


.flex-nav{
    display: flex;
    flex-wrap: wrap;
}

.flex-list{
    width: 70%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.flex-links{
    display: flex;
}

li{
    list-style: none;
}
a{
    padding: 1em;
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.flex-main-banner{
    padding: 3em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.banner-text{
    width: 50%;
    padding: 3em;
    justify-content: start;
    text-align: start;
}

.banner-img{
    width: 50%;
}

.programador-img{
    width: 500px;
}

.flex-main-sobre{
    display: flex;
    align-items: center ;
    padding: 3em;
}

.pedro-img{
    object-fit: cover;
    display: grid;
height: 542px;
width: 410px;
border-radius: 61px;
justify-content: center;
align-items: center;
}

.about-img{
    width: 50%;
    justify-content: center;
    align-items: center;
    padding-left: 8% ;
}

.about-text{
    width: 50%;
    padding-right: 1em;
    justify-content: end;
    align-items: center;

}
.about-text h1{
    text-align: center;
    padding-bottom: 1em;

} 

.portfolio-text{
    padding: 3em 4em 1em 4em;
}

.portfolio-text h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.projetos{
    display: flex;
    justify-content: space-evenly ;
    width: 90vw;
    padding: 2em;
}

.container-1{
    color: #023047;
    background-color: #FFB703;
    border-radius: 10px;
    border: 0px;
    height: max-content;
    width: calc(100%/3 - 1em);
    display: flex;
    flex-direction: column;
}

.container-2{
    color: #FFB703;
    background-color: #023047;
    border-radius: 10px;
    border: 0px;
    height: max-content;
    width: calc(100%/3 - 1em);
    display: flex;
    flex-direction: column;
}

.container-1 img{
    margin: 0;
    padding: 0;
    border-radius: 10px 10px 0px 0px;
    height: auto;
    object-fit: cover;
    max-width: 100%;
}

.container-2 img{
    margin: 0;
    padding: 0;
    border-radius: 10px 10px 0px 0px;
    height: auto;
    object-fit: cover;
    max-width: 100%;
}

.container-info-1{
    color: #023047;
    display: flex;
    justify-content: space-around;
}

.container-info-2{
    color: #FFB703;
    display: flex;
    justify-content: space-around;
}

.seta-img img{
    width: 90px;
    height: 75.75px;
}

#img-link{
    padding: 0;
}

.contato-text{
    width: 55%;
    padding: 2em 2em 4em 4em;
}

.contato-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.flex-contato{
    display: flex;
}

.contato-form{
    width: 45%;
}

form{
    display: flex;
    flex-direction: column;
    padding: 1em 3em 1em 1em ;
    justify-content: start;
    color: white;
}

::placeholder{
    color: white;
    font-weight: bold;
    font-size: large;
    letter-spacing: 1px;
}

input{
    padding: 2em;
    margin: 1em 0em 2em 0em;
    border-radius: 25px;
    background-color: #808080;
    border: none;
}

textarea{
    max-width: 100%;
    padding: 2em 2em 1em 1em;
    border-radius: 25px;
    background-color: #808080;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    display: flex;
    margin: 1em;
    padding: 1em;
    width: 20%;
    border-radius: 25px;
    background-color: #808080;
    color: white;
    font-weight: bold;
    font-size: large;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
}

#social-media{
    width:45px;
    margin: 0em 0em 2em 2em;
}

@media only screen and (max-width:480px) {
    h1{
        font-size: 32px;
        margin-bottom: 10px;
        width: 100%;
    }
    
    h2{
        font-size: 28px;
        font-weight: 300;
        margin-right: 0;
    }
    
    h3{
        font-size: smaller;
    }

    p{
        font-size: 16px;
    }

    #logo-plm{
        width: 80px;
    }

    .main-block{
        width: 95vw;
        min-height: 90vh;
        margin: 2vh ;
    }

    .flex-nav{
        align-items: center;
        flex-direction: column;
    }

    .nav-menu{
        display: flex;
        flex-wrap: wrap;
    }

    .flex-list{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .nav-item{
        padding: 1em;
    }

    .flex-links{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .flex-main-banner{
        flex-direction: column-reverse;
    }

    .banner-text{
        width: 100%;
        margin-top: 3em;
        padding: 0;
    }

    .banner-img{
        width: 100%;
    }

    .programador-img{
        width: 100%;
        height: auto;
    }

    .about-text{
        width: 100%;
        padding-bottom: 2em;
        padding-top: 1em;
        padding-right: 0;
    }

    .about-img{
        width: 100%;
        padding: 0;
    }

    .flex-main-sobre{
        display: flex;
        flex-direction: column-reverse;
    }

    .pedro-img{
        width:100%;
        height: 350px;
    }

    .portfolio-text{
        width: 100%;
        padding: 2em 2em 1em 2em;
    }

    .projetos{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 2em 3em 2em 2em;
    }

    .container-1{
        width: 100%;
        margin: 1em;
    }

    .container-2{
        width: 100%;
        margin: 1em;
    }

    .container-title{
        padding: 0em 0em 0.5em 0.5em;
    }


    .seta-img img{
        width: 50px;
        height: auto;
    }

    .flex-contato{
        display: flex;
        flex-direction: column;
    }

    .contato-text{
        width: 100%;
        padding: 1em 1em 1em 1em;
    }

    .contato-title h1{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contato-form{
        width: 100%;
        padding: 0;
    }

    form{
        padding: 1em 1em 1em 1em;
    }

    button{
        width: 30%;
    }

    .social-media{
        display: flex;
        justify-content: space-evenly;
    }

    #social-media{
        width: 40px;
        margin: 1em 1em 1em 1em ;
    }

    a{
        padding: 0;
    }
}